/**{*/
/*    font-family: sans-serif;*/
/*    font-size: 18px; */
/*}*/
.container {
    min-width: 1600px;
    /*margin: 5px auto;*/
    /*overflow-x:hidden*/
    overflow: hidden;
}
.site_header{
    height: 100vh;
    /*border: 1px solid #a19999;*/
    padding: 10px;
    /*overflow: hidden;*/
    /*margin-bottom: 30px;*/
    position: relative;

}
/*.site_header h1 {*/
/*    opacity: 0;*/
/*    overflow: hidden;*/
/*    font-size: 10rem;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    object-fit: cover;*/

/*}*/
.site_header {
    /*background: url('../assets/halloween.jpg');*/
    background: url('../assets/main_img.jpg');
    background-size: cover;
    background-position-x: 50%;
    background-position-y: -30%;
    background-repeat: no-repeat;
    animation-name: header-animation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes header-animation {
    0%{
        background-position-y: -30%;;
    }
    80%{
        background-position-y: 100%;
    }
    85%{
        background-position-y: 75%;
    }
    90%{
        background-position-y: 100%;
    }
    95%{
        background-position-y: 77%;
    }
    100%{
        background-position-y: 80%;
    }

}

.spider {
    overflow: hidden;
    /*border: 1px solid red;*/
    border-radius: 50%;
    width: 95px;/*95*/
    height: 200px;/*200*/
    position: absolute;
    object-fit: cover;
    background-image: url('../assets/first.png');
    background-position-y: 75%;
    background-size: contain;
    background-repeat: no-repeat;
    left: 200px;
    top: -156px;
    cursor: pointer;
    animation-name: header-animation-spider;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}


@keyframes header-animation-spider {
    0%{
        top: -100%;
    }
    60%{
        top: -146px;
    }
    70%{
        top: -80px;
    }
    80%{
        top: -110px;
    }
    100% {
        top: -80px;
    }
}
.second_spider{
    overflow: hidden;
    border-radius: 50%;
    width: 105px;/*95*/
    height: 220px;/*200*/
    position: absolute;
    object-fit: cover;
    background-image: url('../assets/first.png');
    background-position-y: 65%;
    background-size: contain;
    background-repeat: no-repeat;
    right: 400px;
    top: -156px;
    cursor: pointer;
    animation-name: header-animation-spider-second;
    animation-duration: 20s;
    animation-fill-mode: forwards;

}
@keyframes header-animation-spider-second {
    0%{
        top: -100%;
    }
    20%{
        top: -146px;
    }
    30%{
        top: -80px;
    }
    40%{
        top: -110px;
    }
    50%{
        top: -80px;
    }
    60%{
        top: -116px;
    }
    70%{
        top: -90px;
    }
    80%{
        top: -110px;
    }
    100% {
        top: -80px;
    }
}

.skull {
    overflow: hidden;
    border-radius: 25px;
    width: 200px;/*95*/
    height: 200px;/*200*/
    position: absolute;
    background-image: url('../assets/Skullt.png');
    background-position-y: 75%;
    background-size: contain;
    background-repeat: no-repeat;
    right: 80px;
    bottom: 45px;
    cursor: pointer;
    animation-name: header-animation-skull;
    animation-duration: 17s;
    animation-fill-mode: forwards;
}


@keyframes header-animation-skull {
    0%{
        right: -100%;
    }
    50%{
        right: -446px;
        transform: rotate(-10deg);

    }

    70%{
        right: -200px;
        transform: rotate(360deg);

    }

    100% {
        right: 80px;
        transform: rotate(0deg);
    }
}

.pumpkin {
    overflow: hidden;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    position: absolute;
    background-image: url('../assets/pumpkin.png');
    background-position-y: 45%;
    background-size: contain;
    background-repeat: no-repeat;
    left: -300px;
    bottom: 4px;
    cursor: pointer;
    animation-name: header-animation-pumpkin;
    animation-duration: 85s;
    animation-fill-mode: forwards;
}

/*.pumpkin-animation {*/
/*    animation-name: header-animation-pumpkin;*/
/*    animation-duration: 75s;*/
/*    animation-fill-mode: forwards;*/

/*}*/

@keyframes header-animation-pumpkin {
    0%{
        left: -300%;
        transform: rotate(-22deg);
    }
    10%{
        left: -60px;
        /*transform: rotate(10deg);*/
    }
    20%{
        left: 0px;
        transform: rotate(15deg);
    }
    25%{
        left: -5px;
        transform: rotate(-5deg);
    }
    30%{
        left: 50px;
        transform: rotate(10deg);
    }
    40%{
        left: -20px;
        transform: rotate(-10deg);
    }
    50%{
        left: 150px;
        transform: rotate(12deg);
    }
    60%{
        left: -28px;
        transform: rotate(-10deg);
    }
    70%{
        left: 40px;
        transform: rotate(12deg);
    }
    80%{
        left: 0px;
        transform: rotate(-10deg);
    }
    90%{
        left: 200px;
        transform: rotate(12deg);
    }
    95%{
        left: 200px;
        transform: rotate(-12deg);
    }
    100% {
        left: 20px;
        bottom: 20px;
    }
}

.ghost {
    overflow: hidden;
    border-radius: 25px;
    width: 380px;
    height: 280px;
    position: absolute;
    background-image: url('../assets/ghost.png');
    background-position-y: 75%;
    background-size: contain;
    background-repeat: no-repeat;
    right: -200px;
    bottom: 44px;
    cursor: pointer;
    animation-name: header-animation-ghost;
    animation-duration: 85s;
    animation-fill-mode: forwards;

}

/*.ghost-animation {*/
/*    animation-name: header-animation-ghost;*/
/*    animation-duration: 85s;*/
/*    animation-fill-mode: forwards;*/

/*}*/

@keyframes header-animation-ghost {
    0%{
        right: -300px;
        bottom: 459px;
    }
    10%{
        right: -50px;
    }
    15%{
        bottom: 259px;
    }
    20%{
        right: 105px;
    }
    22%{
        bottom: 150px;
    }
    25%{
        right: 200px;
    }
    30%{
        bottom: 334px;
    }
    35%{
        right: 330px;
    }
    40%{
        bottom: 200px;
    }
    45%{
        right: 530px;
    }
    50%{
        bottom: 530px;
    }
    53%{
        right: 600px;
    }
    57%{
        bottom: 530px;
    }
    65%{
        right: 770px;
    }
    70%{
        bottom: 490px;
    }
    80%{
        right: 920px;
    }
    85%{
        bottom: 450px;
    }
    90%{
        right: 1120px;
    }
    93% {
        bottom: 400px;
    }
    97% {
        bottom: 470px;
    }
    100% {
        right: 1600px;
    }
}

.second_ghost {
    overflow: hidden;
    border-radius: 25px;
    width: 330px;
    height: 330px;
    position: absolute;
    background-image: url('../assets/ghost1.png');
    background-position-y: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    right: -200px;
    bottom: 84px;
    cursor: pointer;
    animation-name: header-animation-second_ghost;
    animation-duration: 95s;
    animation-fill-mode: forwards;

}

@keyframes header-animation-second_ghost {
    0%{
        left: -300px;
    }
    10%{
        left: -50px;
        bottom: 440px;
    }
    15%{
        bottom: 490px;
    }
    20%{
        left: 150px;
    }
    22%{
        bottom: 450px;
    }
    25%{
        left: 240px;
    }
    30%{
        bottom: 374px;
    }
    35%{
        left: 420px;
    }
    40%{
        bottom: 100px;
    }
    45%{
        left: 490px;
    }
    50%{
        bottom: 195px;
    }
    53%{
        left: 520px;
    }
    57%{
        bottom: 140px;
    }
    60%{
        left: 770px;
    }
    70%{
        bottom: 90px;
    }
    80%{
        left: 980px;
    }
    85%{
        bottom: 200px;
    }
    90%{
        left: 1250px;
    }
    93% {
        bottom: 350px;
    }
    97% {
        bottom: 250px;
    }
    100% {
        left: 1660px;
    }
}
.coffin{
    overflow: hidden;
    /*border-radius: 50%;*/
    width: 330px;
    height: 330px;
    position: absolute;
    background-image: url('../assets/coffin-halloween-costume.png');
    background-position-y: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    right: 0px;
    bottom: 14px;
    cursor: pointer;
    animation-name: header-animation-coffin;
    animation-duration: 105s;
    animation-fill-mode: forwards;
}
@keyframes header-animation-coffin {
    0%{
        right: -350px;
    }
    10%{
        right: -150px;
       transform: rotate(-30deg);
    }
    15%{
        bottom: 25px;
        transform: rotate(-25deg);
    }
    20%{
        bottom: 60px;
        transform: rotate(-10deg);
    }
    22%{
        bottom:20px;
        transform: rotate(-20deg);
    }
    25%{
        right: -240px;
        transform: rotate(0deg);
    }
    30%{
        bottom:10px;
        transform: rotate(-30deg);
    }
    35%{
        right: -120px;
        transform: rotate(-20deg);
    }
    40%{
        bottom:60px;
        transform: rotate(-40deg);
    }
    45%{
        right: -190px;
        transform: rotate(-20deg);
    }
    50%{
        bottom:20px;
        transform: rotate(-10deg);
    }
    55%{
        right: -220px;
        transform: rotate(-30deg);
    }

    60%{
        right: -170px;
        transform: rotate(-20deg);
    }
    70%{
        bottom:80px;
        transform: rotate(-10deg);
    }
    80%{
        right: -200px;
        transform: rotate(-30deg);
    }
    85%{
        bottom:40px;
        transform: rotate(0deg);
    }

    90% {
        bottom: 10px;
        transform: rotate(-20deg);
    }
    100% {
        right: -350px;

    }
}
